@import "tailwindcss";

@layer base {
  body {
    background-color: #050A18;
    color: #f1f5f9;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom elegant dark scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #050A18;
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }
}
